.about__container {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 8%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, transparent, var(--color-brown-100));
    display: grid;
    place-items: center;
    border-radius: 2rem;
}

.about__me-image {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
}

.about__me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.about__tabs {
    width: 100%;
}

.about__tabs-spans {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.about__tabs-spans span {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
}

span.active__tab {
    background-color: var(--color-brown-200);
    color: var(--color-light-100);
}

.article {
    display: none;
}

.article.active {
    display: block;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 0;
    color: var(--color-black-200);
}

.content h3 {
    font-size: 1.8rem;
    margin: .5rem 0;
}

.content p {
    font-size: 1.5rem;
    padding: .2rem 0 .4rem;
    font-weight: 500;
    color: var(--color-brown-100);
}

.content small {
    font-size: 1rem;
}

.content .year {
    font-size: 1rem;
    font-style: italic;
}

.lists {
    list-style-type: circle;
    list-style-position: inside;
    max-width: 60rem;
}

.lists li {
    margin: .5rem 0;
    line-height: 1.6;
    font-size: 1.5rem;
}


/* media queries */
@media (max-width:991px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 1rem auto 4rem;
    }

    .about__tabs-spans {
        justify-content: center;
    }

    .content {
        justify-content: center;
    }

}