nav {
    position: fixed;
    display: block;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: max-content;
    padding: .7rem 1.7rem;
    background-color: var( --color-black-100);
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
    backdrop-filter: blur(10px);
    animation: slide-up .5s ease 2s backwards;
}
@keyframes slide-up {
    0% {
        opacity: 0;
    }
}

nav a {
    color: var(--color-light-100);
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
}

nav a:hover {
    background-color: #cab39c;
}

nav a.active {
    background-color: var(--color-brown-100);
}